body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.calculator-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.calculator-block {
    background-color: #333;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    color: white;
}

h3 {
    margin-bottom: 10px;
    color: white;
}

.display {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    background-color: #444;
    color: white;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    background-color: #555;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

button.operation {
    width: 100%;
    margin-top: 10px;
    background-color: #777;
}

button.operation:hover {
    background-color: #888;
}

p {
    font-size: 1.1em;
    margin-top: 10px;
    color: #f4f4f4;
}